.card {
  width: min(45em, 85vw);
  background-color: rgb(220, 172, 148);
  margin: 0 auto 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgb(189, 188, 188);
  padding: 1.5rem 0.5rem;
}



button {
  border: 0;
  border-radius: 2px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  box-shadow: 2px 2px 2px rgb(19, 18, 18);
}

/* ----- list ----- */

.book {
  display: flex;
  justify-content: space-around;
  padding: 0 2em 0.5em;
}

.book p {
  border-bottom: dotted 1px;
  width: 100%;
}

.name, .title {
  text-align: left;
}

.name {
  flex-basis: 60%;
}

.downloads {
  text-align: right;
  flex-basis: 20%;
}

/* ----- form ----- */

form {
  columns: 2 ;
}



input {
  display: block;
  margin: 0 auto 1em;
}